body {
    margin:0;
    background:
    linear-gradient(
        135deg,
        #111827,
        #020617
    );

    font-family:Arial,sans-serif;
    color:white;
}


.container{

    height:100vh;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

}


.card{

    background:#1f2937;

    padding:35px;

    border-radius:20px;

    width:360px;

    box-shadow:
    0 20px 40px rgba(0,0,0,.5);

}